<template>
  <v-app>
    <v-app-bar
      app
      color="primary white--text"
    >
      <v-app-bar-nav-icon />
      <v-toolbar-title>Vuetify-business-hours demo</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-switch
          v-model="$vuetify.theme.dark"
          class="pt-5"
          label="Dark?"
        />
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="8">
            <v-card :style="{padding: '2em' }">
              <v-business-hours-form
                :initial-business-hours="businessHours"
                :show-on-empty-data="showOnEmptyData"
                :week-start-on="weekStartOn"
              />
            </v-card>
          </v-col>
          <v-col>
            <v-card :style="{padding: '2em' }">
              <v-form>
                <v-select
                  v-model="weekStartOn"
                  label="Week starts on :"
                  :items="[{text: 'Monday', val: 0},{text: 'Sunday', val: 6}]"
                  item-text="text"
                  item-value="val"
                />
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      weekStartOn: 0,
      customStyle: {},
      showOnEmptyData: false,
      businessHours: [
        { id: 'a', dayIndex: '1', openAt: '08:00', closeAt: '12:00' },
        { id: 'b', dayIndex: '1', openAt: '14:00', closeAt: '18:00' },
        { id: 'c', dayIndex: '3', openAt: '10:00', closeAt: '18:00' },
      ],
    }),
  }
</script>
