.v-bhf__row, .v-bhf__hour-group {
  display: flex;
  align-items: center;
}

// Day name container
.v-bhf__day {
  text-transform: capitalize;
  flex: 0 0 7em;
}

// IsOpen switch
.v-bhf__switch {
  margin-right: 1em;
}

// Hour groups
.v-bhf__hour-container {
  display: flex;
  flex-wrap: wrap;
}

// Hour fields separator
.v-bhf__separator {
  line-height: 4em;
  padding: 0 .5em
}

// Hour group
.v-bhf__hour-group {
  &:not(:last-of-type) {
    margin-right: 2em;
  }

  input {
    text-align: center;
  }
}

// Add hours button
.v-bhf__add-hours-button {
  margin-left: 1em;
}

